/* Общие стили для контейнера */
.create-order-container {
    width: 50%;
    max-width: 100%;
    height: 100vh;
    border-radius: 10px;
    position: relative;
    background-color: #eaeaea;
    padding: 20px 30px;
    overflow: visible;
    margin: auto;
    /* Flexbox для центровки */
    display: flex;
    justify-content: center; /* Центровка по горизонтали */
    /*align-items: center;     Центровка по вертикали */
}

/* Стили для заголовков */
.create-order-header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Стили для меток и полей ввода */
.input-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: 20px;
}

/* Стили для кнопок */
.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.btn {
    margin-right: 0;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-primary {
    background-color: #28a745;
    color: white;
}

.btn-info {
    background-color: #17a2b8;
    color: white;
}

/* Стили для многошаговой формы */
.card {
    margin-top: 20%;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #eaeaea;
    height: auto;
    padding: 20px;
    width: 60%;
    overflow: visible;
}

.card-header {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.card-body {
    padding: 0 10px;
    overflow: visible;
}

.form-control{
    border-radius: 8px;
    border-color: #eea236;
    background-size: 2px;
    height: 50px;
}

.passenger-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.passenger-selector .btn {
    width: 40px;
    height: 40px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50px;
    font-size: 30px;
}

.passenger-selector .btn-primary {
    background-color: #007bff;
}

.passenger-selector .btn-disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}

.passenger-count {
    font-size: 10rem;
    font-weight: bold;
    min-width: 40px;
    text-align: center;
}
/* Стили для кнопок "Назад" и "Далее" */
.flex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Стили для ошибок валидации */
.input-error {
    color: #dc3545;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 20px;
}

/* Стили для шагов и навигации */
.step-indicator {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.step {
    font-size: 18px;
    font-weight: bold;
    color: #6c757d;
}

/* Дополнительные стили из DriverOrderIndex.css */
.order-container {
    margin-top: 20px;
    width: 60%; /* Установите ширину в 60%, чтобы соответствовать другим элементам */
    max-width: 100%;
    height: 160px;
    border-radius: 10px;
    position: relative;
    background-color: white;
    padding: 0 30px;
}

.city-label {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
}

.from-city {
    left: 30px;
}

.to-city {
    left: calc(140px + 250px);
}

.departure-time-container {
    position: absolute;
    top: calc(20% + 30px); /* Сместить вниз от города отправления */
    left: 20px;
}

.departure-date, .departure-time {
    margin-right: 20px; /* Отступ между датой и временем */
    font-size: 18px;
    color: #eea236;
}

.line-container {
    position: absolute;
    top: 18%;
    left: calc(30px + 100px); /* Отступ от города отправления + радиус круга */
    width: 250px;
    height: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    width: 100%;
    height: 1px;
    background-color: gray;
    position: relative;
}

.circle {
    width: 8px;
    height: 8px;
    background-color: gray;
    border-radius: 50%;
    position: absolute;
}

.circle-left {
    left: -4px; /* Половина диаметра круга для выравнивания по центру линии */
}

.circle-right {
    right: -4px; /* Половина диаметра круга для выравнивания по центру линии */
}

.price-label {
    font-size: 20px;
    font-weight: bold;
    color: #eea236;
    position: absolute;
    top: 20%;
    right: 30px;
    transform: translateY(-50%);
}

.separator {
    margin-top: 90px; /* Отступ сверху перед разделителем */
    border-top: 1px solid #ccc;
}

.info-container {
    margin-top: 10px;
    display: flex;
    align-items: center; /* Вертикальное выравнивание по центру */
}

.driver-name {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 10px;
}

.car-name {
    font-weight: bold;
    margin-left: 50px; /* Измените отступ до нужного значения */
    margin-top: 10px;
}

.driver-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px; /* Отступ от фотографии до имени */
    margin-left: 80px;
}

.driver-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выравнивание элементов по центру */
    width: 100%; /* Или ограничьте ширину контейнера, если нужно */
}

.order-item {
    width: 60%; /* Ограничение ширины для каждого DriverOrderIndex */
    margin-bottom: 20px; /* Отступ между элементами */
}

.react-autosuggest__container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 18px;
}


.react-autosuggest__input {
    width: 100%;
    height: 100%;
    background: #eaeaea;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    margin-top: 10px;
    top: 100%;
    width: 100%;
    border: 1px solid #eea236;
    border-radius: 10px;
    background-color: #fff;
    font-size: 18px;
    z-index: 999;
    height: auto; /* Ограничьте высоту списка для предотвращения появления скролла */
    overflow-y: auto; /* Добавляем вертикальный скролл для длинного списка */
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    padding: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.react-autosuggest__suggestion--highlighted {
    background-color: #eea236;
    color: white;
}

.input-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    font-size: 20px;
    border: 1px solid #eea236;
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px;
    cursor: default;
    height: 50px;
    color: black;
}

.inputLabel {
    display: flex;
    color: #eea236;
    align-items: center; /* Выравнивание по вертикали */
    justify-content: center; /* Выравнивание по горизонтали */
}
.custom-radio {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

.custom-radio input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

/* Серый квадрат по умолчанию */
.custom-radio::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 3px;
}

/* Когда радио-кнопка выбрана */
.custom-radio input[type="radio"]:checked + .custom-radio::before {
    background-color: #fff; /* Белый фон при выборе */
    border-color: #eea236; /* Оранжевая граница при выборе */
}

/* Галочка внутри квадрата при выборе */
.custom-radio input[type="radio"]:checked + .custom-radio::after {
    content: '\2713'; /* Символ галочки */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    color: #eea236; /* Оранжевая галочка */
}




