.message-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Контейнер занимает всю высоту окна */
    width: 60%;
    justify-content: space-between;
    align-items: center; /* Центровка по горизонтали */
    padding: 20px;
    margin: auto;
}

.message-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow-y: auto;
    width: 60%; /* Ширина списка сообщений на всю ширину контейнера */
}

.message-bubble {
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    max-width: 75%;
    word-wrap: break-word;
    font-size: 16px;
}

/* Стили для сообщений текущего пользователя */
.current-user {
    background-color: #7e7c7c; /* Зеленый цвет */
    align-self: flex-end;
    border-top-right-radius: 0;
    color: white;
}

.message-right {
    background-color: #FFFFFF; /* Светло-серый цвет */
    align-self: flex-start;
}

.message-left {
    background-color: #FFFFFF; /* Белый цвет */
    align-self: flex-start;
    border-top-left-radius: 0;
}


.message-input-container {
    display: flex;
    align-items: center;
    position: sticky; /* Строка ввода остается на месте при скроллинге */
    bottom: 0; /* Закреплена снизу */
    background-color: #eaeaea; /* Белый фон */
    width: 60%; /* Ограничение ширины контейнера для ввода до 60% */
    margin-top: 10px;
}

.message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

    font-size: 18px;
    cursor: pointer;
}

.send-button {
    padding: 10px 15px;
    background-color: #00c5d1;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    cursor: pointer;
    font-size: 18px;
}

.send-button:hover {
    background-color: #0056b3; /* Изменение цвета при наведении */
    color: white;
}

.message-header {
    display: flex; /* Use flexbox to align items horizontally */
    margin-top: 30px;
    align-items: center; /* Center items vertically */
    gap: 10px; /* Space between the photo and the name */
}

.message-header .btn {
    position: absolute; /* Position the back arrow absolutely */
    left: 33%; /* Align to the left edge of the container */
    /*top: 50%;  Vertically center the arrow */
    /* transform: translateY(-50%);Adjust for vertical centering */
    font-size: 24px; /* Adjust the size of the arrow */
    color: #6c757d; /* The color of the arrow */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    z-index: 1; /* Ensure it appears above other content */
}

.message-header .btn:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
}

.user-name {
    font-size: 20px; /* Adjust the font size as needed */
    margin-left: 30px; /* Remove default margin */
    font-weight: bold;
}

.user-photo {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    object-fit: cover;
}

.separator {
    margin: 10px 0;
    border-top: 4px solid #ff7300;
}

.separator-thin {
    margin: 5px 0;
    border-top: 1px solid #ccc;
}


/*
.message-bubble.driver {
    background-color: #e0f7fa;
    text-align: right;
}

.message-bubble.passenger {
    background-color: #f1f8e9;
    text-align: left;
} */

