.option-component {
    text-align: center;
    margin: 20px;
    height: 100vh;
    width: 100%;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.option-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.option-label {
    margin-right: 10px;
    font-weight: bold;
}

.selected-option {
    margin-right: 10px;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #eaeaea;
    font-weight: bold;
}
.header .btn {
    position: absolute; /* Position the back arrow absolutely */
    left: -12%; /* Align to the left edge of the container */
    /*top: 50%;  Vertically center the arrow */
    /* transform: translateY(-50%);Adjust for vertical centering */
    font-size: 24px; /* Adjust the size of the arrow */
    color: #eea236; /* The color of the arrow */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    z-index: 1; /* Ensure it appears above other content */
}

.header .btn:hover {
    text-decoration: none; /* Убирает подчеркивание при наведении */
}
